* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Hind Siliguri", sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  min-height: 20vh;
  justify-content: center;
  align-items: center;
}

header h1 {
  padding: 1rem 0rem;
}

#logo {
  color: black;
  text-decoration: none;
}

.search-form {
  padding: 1rem;
  display: flex;
}

.search-form input {
  font-size: 1.5rem;
  padding: 0.5rem;
  width: 100%;
  border: none;
  border: 2px solid rgb(0, 0, 0);
  font-family: "Hind Siliguri", sans-serif;
}

.search-form button {
  border: none;
  padding: 0.5rem;
  font-size: 1rem;
  background: black;
  cursor: pointer;
  color: white;
}

.gallery-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: gray;
  padding: 0.5rem 0rem;
}

.gallery-info a {
  color: gray;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  padding: 2rem 0rem;
  width: 85%;
  margin: auto;
  row-gap: 5rem;
  column-gap: 3rem;
}

.gallery-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nav-button {
  min-height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.more {
  padding: 0.8rem 2rem;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}
